.order-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.order-card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.order-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.order-card-switch {
  display: flex;
  align-items: center;
  white-space: nowrap; /* Ensure text stays on one line */
}

.ant-badge-status {
  display: flex;
  align-items: center;
}

.ant-badge.ant-badge-status .ant-badge-status-text {
  margin-inline-start: -2px;
  
}